{% extends 'list.html' %}

{% block thead %}
  <tr>
    <th scope="col">Nombre</th>
    <th scope="col">Precio</th>
    <th scope="col">Meses</th>
    <th scope="col">Descripcion</th>
    <th scope="col">Activo</th>
    {% if user.is_superuser %}
      <th scope="col">Acciones</th>
    {% endif %}
  </tr>
{% endblock %}
{% block tbody %}
  {% for plan in object_list %}
    <tr>
      <td scope="row">
        <a href="{% url 'plan_detail' plan.id %}"><strong>{{ plan.nombre }}</strong></a>
      </td>
      <td>{{ plan.precio }}</td>
      <td>{{ plan.duracion }}</td>
      <td>{{ plan.descripcion }}</td>
      <td>
        {% if plan.activo %}
          <span class="badge bg-success">Si</span>
        {% else %}
          <span class="badge bg-danger">No</span>
        {% endif %}
      </td>
      <td>
        {% if user.is_superuser %}
          <div class="btn-group">
            <a href="{% url 'plan_update' plan.id %}" class="btn btn-primary btn-sm"><i class="fas fa-edit"></i></a>
            <a href="{% url 'plan_delete' plan.id %}" class="btn btn-danger btn-sm"><i class="fas fa-trash-alt"></i></a>
          </div>
        {% endif %}
      </td>
    </tr>
  {% endfor %}
{% endblock %}
