{% load static %}
<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a href="#" class="brand-link">
    <img src="{% static '/img/stefy_logo.png' %}" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8" />
    <span class="brand-text font-weight-light">STEFY GYM</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img src="{% static '/img/user.jpg' %}" class="img-circle elevation-2" alt="User Image" />
      </div>
      <div class="info">
        {% if user.is_authenticated %}
          <a href="{% url 'logout' %}" class="d-block">{{ user.username }}</a>
        {% else %}
          <a href="{% url 'login' %}" class="d-block">Login</a>
        {% endif %}
      </div>
    </div>

    <!-- SidebarSearch Form -->
    <div class="form-inline">
      <div class="input-group">
        <input class="form-control form-control-sidebar" id="search" type="search" placeholder="DNI" aria-label="Search" />
        <div class="input-group-append">
          <a id="enlace" href="#" class="btn btn-sidebar"><i class="fas fa-search fa-fw"></i></a>
        </div>
      </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <li class="nav-item">
          <a href="{% url 'socio_list' %}" class="nav-link">
            <i class="far fa-circle nav-icon"></i>
            <p>Socios</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="{% url 'plan_list' %}" class="nav-link">
            <i class="far fa-circle nav-icon"></i>
            <p>Planes</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="{% url 'membresia_list' %}" class="nav-link">
            <i class="far fa-circle nav-icon"></i>
            <p>Membresias</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="{% url 'pago_list' %}" class="nav-link">
            <i class="far fa-circle nav-icon"></i>
            <p>Pagos</p>
          </a>
        </li>
        <li class="nav-item menu-open">
          <a href="#" class="nav-link active">
            <i class="nav-icon fas fa-copy"></i>
            <p>
              Listados
              <i class="fas fa-angle-left right"></i>
              <span class="badge badge-info right">L</span>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="{% url 'membresia_vencida_list' %}" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Membresias Vencidas</p>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>

{% block extrajs %}
  <script>
    const input = document.getElementById('search')
    const enlace = document.getElementById('enlace')
    
    input.addEventListener('input', () => {
      const valor = input.value
      enlace.href = `/membresia/${valor}` // Ajusta la URL según tu configuración de Django
    })
  </script>
{% endblock %}
