{% extends 'list.html' %}
{% load crispy_forms_tags %}

{% block filtro %}
  <form class="form-inline" method="get">
    {% csrf_token %}
    {{ filter.form|crispy }}
    <button class="btn btn-info" type="submit"><i class="fas fa-filter"></i> Filtrar</button>

    {% if user.is_superuser %}
      <a href="?export=true" class="btn btn-success ml-2">Exportar</a>
    {% endif %}
  </form>
  <hr />
{% endblock %}

{% block thead %}
  <tr>
    <th scope="col">Membresia</th>
    <th scope="col">F.Venc.</th>
    <th scope="col">F.Pago</th>
    <th scope="col">Monto</th>
    {% comment %} <th scope="col">Estado</th> {% endcomment %}
    {% if user.is_superuser %}
      <th scope="col">Acciones</th>
    {% endif %}
  </tr>
{% endblock %}
{% block tbody %}
  {% for pago in filter.qs %}
    <tr>
      <td scope="row">
        <a href="{% url 'pago_detail' pago.id %}"><strong>{{ pago.membresia }}</strong></a>
      </td>
      <td scope="row">{{ pago.fecha_vencimiento|date:'Y/m/d' }}</td>
      <td scope="row">{{ pago.fecha_pago|date:'Y/m/d' }}</td>
      <td scope="row">{{ pago.monto }}</td>
      <td scope="row">
        <div class="btn-group">
          {% if user.is_superuser %}
            <a href="{% url 'pago_update' pago.id %}" class="btn btn-primary btn-sm"><i class="fas fa-edit"></i></a>
            <a href="{% url 'pago_delete' pago.id %}" class="btn btn-danger btn-sm"><i class="fas fa-trash-alt"></i></a>
          {% endif %}
        </div>
      </td>
    </tr>
  {% endfor %}
{% endblock %}
