{% extends 'list.html' %}
{% load crispy_forms_tags %}

{% block filtro %}
  <form class="form-inline" method="get">
    {% csrf_token %}
    {{ filter.form|crispy }}
    <button class="btn btn-info" type="submit"><i class="fas fa-filter"></i> Filtrar</button>
    {% comment %}
    <a href="?export=true" class="btn btn-success ml-2">Exportar a Excel</a>
    {% endcomment %}
  </form>
  <hr />
{% endblock %}

{% block thead %}
  <tr>
    <th scope="col">Membresia</th>
    <th scope="col">F.Pago</th>
    <th scope="col">Monto</th>
    <th scope="col">Estado</th>
    <th scope="col">Acciones</th>
  </tr>
{% endblock %}
{% block tbody %}
  {% for pago in filter.qs %}
    <tr>
      <td scope="row">{{ pago.membresia }}</td>
      <td>{{ pago.fecha_pago }}</td>
      <td>{{ pago.monto }}</td>
      <td>
        {% if pago.estado == 'PAGADO' %}
          <span class="badge bg-success">Pagada</span>
        {% elif pago.estado == 'PENDIENTE' %}
          <span class="badge bg-danger">Pendiente</span>
        {% else %}
          <span class="badge bg-warning">Vencida</span>
        {% endif %}
      </td>

      <td>
        <div class="btn-group">
          <a href="{% url 'pago_update' pago.id %}" class="btn btn-primary btn-sm"><i class="fas fa-edit"></i></a>
          <a href="{% url 'pago_delete' pago.id %}" class="btn btn-danger btn-sm"><i class="fas fa-trash-alt"></i></a>
        </div>
      </td>
    </tr>
  {% endfor %}
{% endblock %}
