{% extends 'list.html' %}
{% load crispy_forms_tags %}

{% block filtro %}
  <form class="form-inline" method="get">
    {% csrf_token %}
    {{ filter.form|crispy }}
    <button class="btn btn-info" type="submit"><i class="fas fa-filter"></i> Filtrar</button>

    {% if user.is_superuser %}
      <a href="?export=true" class="btn btn-success ml-2">Exportar</a>
    {% endif %}
  </form>
  <hr />
{% endblock %}

{% block thead %}
  <div class="btn-group">
    <button type="button" class="btn btn-info btn-sm dropdown-toggle" data-toggle="dropdown">Envio de Avisos por WhatsApp y Mail</button>
    <div class="dropdown-menu">
      <a href="{% url 'whatsapp_vencidas' %}" class="dropdown-item"><i class="fab fa-whatsapp"></i> WhatsApp Membresias Vencidas</a>
      <a href="{% url 'whatsapp_por_vencer' %}" class="dropdown-item"><i class="fab fa-whatsapp"></i> WhatsApp Membresias por Vencer (menor a 7 dias)</a>
      <a href="{% url 'email_vencidas' %}" class="dropdown-item"><i class="fas fa-envelope"></i> Email Membresias Vencidas</a>
      <a href="{% url 'email_por_vencer' %}" class="dropdown-item"><i class="fas fa-envelope"></i> Email Membresias por Vencer (menor a 7 dias)</a>
    </div>
  </div>
  <hr />

  <tr>
    <th scope="col">Socio</th>
    <th scope="col">Plan</th>
    <th scope="col">Fecha inicio</th>
    <th scope="col">Fecha fin</th>
    <th scope="col">Vig.</th>
    <th scope="col">Dias</th>
    <th scope="col">Estado</th>
    <th scope="col">Acciones</th>
  </tr>
{% endblock %}
{% block tbody %}
  {% for membresia in filter.qs %}
    <tr>
      <td scope="row">
        <a href="{% url 'membresia_detail_id' membresia.id %}"><strong>{{ membresia.socio }}</strong></a>
      </td>
      <td>{{ membresia.plan }}</td>
      <td>{{ membresia.fecha_inicio }}</td>
      <td>{{ membresia.fecha_fin }}</td>
      <td>
        {% if membresia.vigente %}
          <span class="badge bg-success">Si</span>
        {% else %}
          <span class="badge bg-danger">No</span>
        {% endif %}
      </td>
      <td>
        {% if membresia.dias_restantes < 0 %}
          <span class="badge bg-danger">{{ membresia.dias_restantes }}</span>
        {% else %}
          <span class="badge bg-success">{{ membresia.dias_restantes }}</span>
        {% endif %}
      </td>
      <td>
        {% if membresia.estado == 'ACTIVA' %}
          <span class="badge bg-success">{{ membresia.estado }}</span>
        {% endif %}
        {% if membresia.estado == 'VENCIDA' %}
          <span class="badge bg-danger">{{ membresia.estado }}</span>
        {% endif %}
        {% if membresia.estado == 'CANCELADA' %}
          <span class="badge bg-warning">{{ membresia.estado }}</span>
        {% endif %}
      </td>
      <td>
        <div class="btn-group">
          <a href="{% url 'pago_membresia' membresia.id %}" class="btn btn-warning btn-sm"><i class="fas fa-money-bill"></i></a>
          {% if user.is_superuser %}
            <a href="{% url 'membresia_update' membresia.id %}" class="btn btn-primary btn-sm"><i class="fas fa-edit"></i></a>
            <a href="{% url 'membresia_delete' membresia.id %}" class="btn btn-danger btn-sm"><i class="fas fa-trash-alt"></i></a>
          {% endif %}
          {% if membresia.estado == 'VENCIDA' %}
            <a href="{% url 'enviar_whatsapp' membresia.id %}" class="btn btn-info btn-sm"><i class="fab fa-whatsapp"></i></a>
            <a href="{% url 'enviar_email' membresia.id %}" class="btn btn-info btn-sm"><i class="fas fa-envelope"></i></a>
          {% endif %}
        </div>
      </td>
    </tr>
  {% endfor %}
{% endblock %}
