{% extends 'list.html' %}

{% block thead %}
  <tr>
    <th scope="col">Socio</th>
    <th scope="col">Plan</th>
    <th scope="col">F.Inicio</th>
    <th scope="col">Estado</th>
    <th scope="col">Acciones</th>
  </tr>
{% endblock %}
{% block tbody %}
  {% for membresia in object_list %}
    <tr>
      <td scope="row">{{ membresia.socio }}</td>
      <td>{{ membresia.plan }}</td>
      <td>{{ membresia.fecha_inicio }}</td>
      <td>
        {% if membresia.estado == 'ACTIVA' %}
          <span class="badge bg-success">Activa</span>
        {% elif membresia.estado == 'VENCIDA' %}
          <span class="badge bg-danger">Vencida</span>
        {% else %}
          <span class="badge bg-warning">Cancelada</span>
        {% endif %}
      </td>
      <td>
        <div class="btn-group">
          <a href="{% url 'membresia_update' membresia.id %}" class="btn btn-primary btn-sm"><i class="fas fa-edit"></i></a>
          <a href="{% url 'membresia_delete' membresia.id %}" class="btn btn-danger btn-sm"><i class="fas fa-trash-alt"></i></a>
        </div>
      </td>
    </tr>
  {% endfor %}
{% endblock %}
