{% extends 'list.html' %}

{% block thead %}
  <tr>
    <th scope="col">Socio</th>
    <th scope="col">Fecha fin</th>
    <th scope="col">Vigente</th>
    <th scope="col">Dias</th>
    <th scope="col">Acciones</th>
  </tr>
{% endblock %}
{% block tbody %}
  {% for membresia in object_list %}
    <tr>
      <td scope="row">{{ membresia.socio }}</td>
      <td>{{ membresia.fecha_fin }}</td>
      <td>
        {% if membresia.vigente %}
          <span class="badge bg-success">Si</span>
        {% else %}
          <span class="badge bg-danger">No</span>
        {% endif %}
      </td>
      <td>
        {% if membresia.dias_restantes < 7 %}
          <span class="badge bg-danger">{{ membresia.dias_restantes }}</span>
        {% else %}
          <span class="badge bg-success">{{ membresia.dias_restantes }}</span>
        {% endif %}
      </td>
      <td>
        <div class="btn-group">
          <a href="{% url 'membresia_update' membresia.id %}" class="btn btn-primary btn-sm"><i class="fas fa-edit"></i></a>
          <a href="{% url 'membresia_delete' membresia.id %}" class="btn btn-danger btn-sm"><i class="fas fa-trash-alt"></i></a>
          <a href="{% url 'pago_membresia' membresia.id %}" class="btn btn-warning btn-sm"><i class="fas fa-money-bill"></i></a>
          <a href="{% url 'enviar_whatsapp' membresia.id %}" class="btn btn-info btn-sm"><i class="fab fa-whatsapp"></i></a>
        </div>
      </td>
    </tr>
  {% endfor %}
{% endblock %}
